    <span id="copy"> &copy; 2020 <a href="https://josephbloomquist.com/">josephbloomquist.com</a>, all rights reserved.</span>
    
    <div id="footer-links">
        <a href="https://www.vultr.com/?ref=7413974" target="_blank">Vultr</a>
        <a href="https://porkbun.com" target="_blank">Porkbun</a>
        <a href="https://cloudflare.com/" target="_blank">Cloudflare</a>
        <a href="https://contact.josephbloomquist.com">Contact</a>
    </div>
    
    <p>Monokyll theme created by Joseph Bloomquist</p>
