
//
// VARIABLES
//

// Colors
$blue: #66D9EF;
$red: #F92672;
$yellow: #E6DB74;
$green: #A6E22E;
$purple: #AE81FF;
$sublimebg: #272822;
$sublimefg: #F8F8F2;
$jbcanchor: #66D9EF;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$lucida: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
